@font-face
  font-family 'ChangeThis'
  src url('../fonts/ChangeThis.woff') format('woff')
  font-weight $regular
  font-style normal

.change-this
  font-family 'ChangeThis'
  font-weight $regular
  -webkit-font-smoothing antialiased
